@import "../styles/mixin.scss";
.education-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // padding: 6rem auto;
  // min-height: calc(1.1 * 50vw);
  .image-section {
    width: 50%;
    img {
      width: 100%;
      height: auto;
      display: block;
      place-self: center;
      padding: 6px;
      border: 2px solid #f08f53cb;
      border-radius: 1rem;
    }
  }

  .text-section {
    width: 40%;
    @include CodeSchema;
    .text {
      width: 100%;
      height: auto;
      display: block;
      justify-self: center;
      color: white;
      font-size: 1.2rem;
    }
  }
}
@include Query(mobile) {
  .education-page {
    flex-direction: column-reverse;
    gap:5vh;
    justify-content: center;
    .image-section {
      justify-content: center;
      width: 90%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .text-section {
      width: 80%;
      justify-content: center;

    }
  }
}
@include Query(tablet) {
  .education-page {
    flex-direction: column-reverse;
    gap:5vh;
    justify-content: center;
    .image-section {
      justify-content: center;
      width: 80%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .text-section {
      width: 80%;
      justify-content: center;

    }
  }
}
@include Query(smallScreen) {
  .education-page {
    font-size: 2rem;
  }
}
@include Query(largScreen) {
  .education-page {
    font-size: 2rem;
  }
}
@include Query(extraLarg) {
  .education-page {
    font-size: 2rem;
  }
}
