@import "../styles/mixin.scss";
$images-hight: 50vw;

.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: calc(100vh-56px);
  .text {
    // width: 40vw;
    flex-basis: (100%)/2.8;
    // padding: 50px;
    margin-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin-top: 20%;
      font-size: 1.2rem;
      // font-weight: 400;
      //   line-height: 2vw;
      color: rgb(255, 255, 255);
      tab-size: 4;
    }
    @include CodeSchema;
    a {
      margin-bottom: 20%;
      position: relative;
      display: inline-block;
      font-size: 1rem;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      padding: 0.8rem;
      letter-spacing: 1px;
      font-weight: 600;
      margin-top: 60px;
      width: 11rem;
      height: 3rem;
      text-align: center;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        background-color: #f09053;
        z-index: -1;
        margin-left: -3px;
        transition: all ease 0.5s;
      }
      &:hover:before {
        width: 100%;
        // border-radius: 0;
      }
    }
  }
  .images-container {
    // background: radial-gradient(40vw, #f090538c, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: (100%)/2.2;
    .images {
      position: relative;
      width: 30vh;
      height: 30vh;
      // background: radial-gradient(40vw, #f090538c, transparent 50%);
      margin-top: 60px;
      align-content: center;
      justify-content: center;
      .personal-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 18vw;
        width: 18vw;
        border-radius: 50%;
      }
      .wheel {
        height: 100%;
        width: 100%;
        animation: rotation 60s linear infinite;
        img {
          position: absolute;
          height: 6.5vw;
          widows: 6.5vw;
          padding: 3px;
          transform: translate(50%, -50%);
          border-radius: 50%;
          border: 0.1rem solid #f09053;
          background-color: #fff;
        }
        img:nth-child(1) {
          top: 68.66%;
          right: 2%;
        }
        img:nth-child(2) {
          top: 98%;
          right: 27.43%;
        }

        img:nth-child(3) {
          top: 98%;
          right: 68.66%;
        }

        img:nth-child(4) {
          top: 68.66%;
          right: 98%;
        }

        img:nth-child(5) {
          top: 27.34%;
          right: 98%;
        }
        /* C Lang */
        img:nth-child(6) {
          top: 2%;
          right: 68.66%;
        }
        /* C++ Lang */
        img:nth-child(7) {
          top: 2%;
          right: 27.34%;
        }
        /* Python */
        img:nth-child(8) {
          top: 27.34%;
          right: 2%;
        }
      }
      &:hover {
        .wheel {
          animation-play-state: paused;
        }
      }
    }
  }
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
@include Query(mobile) {
  .home-page {
    .text {
      flex-basis: 100%;
      width: 90%;
      letter-spacing: 0.3px;
      font-size: 16px;
      font-weight: 500;
    }

    .images-container {
      flex-basis: 100%;
      justify-content: center;
      align-items: center;
      // background: radial-gradient(80vw, #f090538c, transparent 50%);

      .images {
        margin-top: 6rem;
        width: 70vw;
        height: 70vw;
        .personal-image {
          width: 45vw;
          height: 45vw;
        }
        .wheel {
          img {
            width: 12vw;
            height: 12vw;
          }
        }
      }
    }
  }
}
@include Query(tablet) {
  .home-page {
    .text {
      flex-basis: 100%;
      width: 90%;
      margin-top: 2rem;
      p {
        font-size: 3vw;
      }
      a {
        font-size: 2.5vw;
        width: 25vw;
        height: 5vw;
        &::before{
          height: 7vw;
          width: 7vw;
        }
      }
    }
    .images-container {
      // background: radial-gradient(80vw, #f090538c, transparent 50%);

      flex-basis: 100%;
      .images {
        margin-top: 6rem;
        width: 70vw;
        height: 70vw;
        .personal-image {
          width: 35vw;
          height: 35vw;
        }
        .wheel {
          img {
            width: 10vw;
            height: 10vw;
          }
        }
      }
    }
  }
}
@include Query(smallScreen) {
  .home-page {
    .text {
      width: 45vw;
      p {
        font-size: 1.8vw;
      }
      a {
        font-size: 2vw;
        width: 20vw;
        height: 5vw;
        &::before{
          height: 5.5vw;
          width: 5.5vw;
        }
      }
    }
    .images-container{
      width: 50vw;
        // background: radial-gradient(45vw, #f090538c, transparent 50%);
        .images {
        // margin-top: 6rem;
        width: 40vw;
        height: 40vw;
  
        // .personal-image {
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   height: 200px;
        //   width: 210px;
        //   border-radius: 50%;
        // }
        // .wheel {
        //   img {
        //     height: 50px;
        //     widows: 50px;
        //     padding: 2px;
        //     transform: translate(50%, -50%);
        //     border-radius: 50%;
        //     border: 2px solid #f090538c;
        //     background-color: #fff;
        //   }
        // }
      }
    }
  }
}
@include Query(largScreen) {
  .home-page {
    .text {
      width: 40vw;
    }
    .images-container {
      width: $images-hight;
      height: $images-hight;
      // background: radial-gradient(calc(50vw * 0.9), #f090538c, transparent 50%);
      .images {
        margin-top: 1rem;
        width: calc(0.9 * 50vw);
        height: calc(0.9 * 50vw);

        // .personal-image {
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   height: 20vw;
        //   width: 20vw;
        //   border-radius: 50%;
        // }
        // .wheel {
        //   img {
        //     height: 70px;
        //     widows: 70px;
        //     padding: 2px;
        //     transform: translate(50%, -50%);
        //     border-radius: 50%;
        //     border: 2px solid #f090538c;
        //     background-color: #fff;
        //   }
        // }
      }
    }
  }
}
@include Query(extraLarg) {
  .home-page {
    .text {
      width: 40vw;
    }
    .images-container {
      width: $images-hight;
      height: $images-hight;
      // background: radial-gradient(calc(50vw * 0.9), #f090538c, transparent 50%);
      .images {
        // margin-top: 1rem;
        width: calc(0.75 * 50vw);
        height: calc(0.75 * 50vw);

        // .personal-image {
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   height: 20vw;
        //   width: 20vw;
        //   border-radius: 50%;
        // }
        // .wheel {
        //   img {
        //     // height: 5vw;
        //     // widows: 5vw;
        //     padding: 2px;
        //     transform: translate(50%, -50%);
        //     border-radius: 50%;
        //     border: 2px solid #f090538c;
        //     background-color: #fff;
        //   }
        // }
      }
    }
  }
}
