@import "../styles/mixin.scss";
@include RoundedHeader;
@include Typography;
.info-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;

  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
      position: relative;
      margin-top: 60px;
      height: auto;
      width: clamp(95vw, 60%, 48%);
      min-height: 250px;
      padding: 30px;
      padding-top: 60px;
      border: 2px solid #f08f53;
      // border-radius: 2rem;
      background-color: #1e1f31;
      z-index: 5;
      .top-box {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 80%;
        border: 2px solid #f08f53;
        z-index: 6;
        background-color: inherit;
        h1 {
          padding: 8px 14px;
          color: #f08f53;
          float: left;
          font-size: 1.5rem;
          font-weight: 300;
          letter-spacing: 1px;
          width: 100%;
          display: block;
          text-align: center;
        }
      }
    }
    .el {
      font-size: 1rem;
      margin: 8px 0;
      span {
        color: #fcfcfc;
        font-size: 1rem;
      }
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .contact-links {
      margin: 2rem auto;
      .contact-link {
        border-bottom: 2px solid #f08f53;
        padding: 0.875rem 0.45rem;
        text-decoration: wavy;
        font-size: 1.25rem;
        font-weight: 300;
        color: #f08f53;
        transition: all ease 0.7s;
        &:hover {
          background-color: #f08f53;
          color: #fcfcfc;
        }
      }
    }
    .contact-element {
      // display: block;
      width: auto;
      margin: 0 auto;
      .element {
        .el {
          margin: 8px 0;
          span {
            color: #fcfcfc;
          }
        }
      }
    }
  }
}
