$bp: (
  mobile: (
    min: 0px,
    max: 480px,
  ),
  tablet: (
    min: 481px,
    max: 820px,
  ),
  smallScreen: (
    min: 821px,
    max: 1440px,
  ),
  largScreen: (
    min: 1440px,
    max: 2440px,
  ),
  extraLarg: (
    min: 2441px,
    max: 3440px,
  )
);
@mixin Query($screen) {
  @each $key, $value in $bp {
    @if ($screen == $key) {
      @media (min-width: map-get($value, min)) and (max-width: map-get($value, max)) {
        @content;
      }
    }
    @if ($screen == "extraLarg") {
      @media (min-width: 1201px) {
        @content;
      }
    }
  }
}
@mixin ClearFix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin RoundedHeader {
  .rounded-header {
    text-align: center;
    padding: 8px 10px;
    border: 2px solid #f08f53;
    width: 80%;
    margin: 40px auto;
    color: #f08f53;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all ease 0.7s;
    &:hover {
      background-color: #f08f53;
      color: #fcfcfc;
    }
  }
}
@mixin Typography {
  .header {
    color: #f08f53;
    // float: left;
    font-size: 1.3rem;
    font-weight: 300;
    // letter-spacing: 1px;
    display: block;
    width: auto;
  }
  .span {
    padding-top: 0.5rem;
    color: #f8ccb1;
    float: left;
    font-size: 1rem;
    font-weight: 100;
    // letter-spacing: 1px;
    width: 100%;
    display: block;
  }
  .body {
    padding-top: 0.5rem;
    color: #fcfcfc;
    float: left;
    font-size: 1.1rem;
    font-weight: 300;
    // letter-spacing: 0.7px;
    width: 100%;
    display: block;
  }
}

@mixin Card {
  .card {
    position: relative;
    margin-top: 180px;
    height: auto;
    padding-bottom: 20px;
    width: 45%;
    border: 1px solid #f08f53;
    background-color: #1e1f31;
    z-index: 5;
    .main-box {
      margin: 2rem;
      padding-top: 15%;
      height: auto;
      @include Typography;
    }
    .top-box {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: auto;
      width: 90%;
      border: 1px solid #f08f53;
      // border-radius: 1rem;
      z-index: 6;
      background-color: inherit;
      h1 {
        padding: 8px auto;
        color: #f08f53;
        font-size: 1.5rem;
        font-weight: 300;
        // letter-spacing: 1px;
        width: 100%;
        display: block;
        text-align: center;
      }
      .logo {
        height: auto;
        z-index: 6;
        background-color: inherit;
        img {
          padding: 5px 0px;
          width: 3rem;
          height: auto;
          margin: auto;
          display: block;
          margin: 5px;
        }
        .mada {
          border-radius: 0.5rem;
          padding: 3px;
        }
      }
    }
  }
}

@mixin CodeSchema {
  .span-1 {
    color: #f09053;
    // font-weight: 300;
  }
  .span-2 {
    color: #968a83;
    // font-weight: 300;
  }
  .span-3 {
    color: #53d8f0;
    // font-weight: 300;
  }
  .span-4 {
    color: #7d53f0;
    // font-weight: 300;
  }
  .span-5 {
    color: #f0ed53;
    // font-weight: 300;
  }
}
